APP_ENV=local
APP_KEY=
APP_NAME=h-dashboard
APP_URL=http://localhost:8001
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=h_dashboard_e2e
DB_USERNAME=<same as dev>
DB_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=<same as dev>
CACHE_STORE=array
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_PREFIX=h_dashboard_e2e
TEST_PASSWORD=12345678
TEST_N_CODE=4411015056
TEST_UNIT_MANAGER_N_CODE=6275537615
TEST_EXPERT_N_CODE=0023548258
TEST_REGULAR_USER_N_CODE=0041368464
BASE_URL=http://localhost:8001
