includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - routes
        - resources/views/livewire
    excludePaths:
        - vendor
        - node_modules (?)
        - storage
        - bootstrap/cache
        - tests
